@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Lexend:wght@200;700&display=swap');
@media screen{
    body {
        overscroll-behavior: none;
    }
    body {
        margin: 0;
        padding: 0;
        font-family: Arial Black, sans-serif;
        text-align: center;
        background: #000;
        height: 150vh;
    }
}
.line{
    border-width: thin;
    border-radius: 2px;
    border-color: white;
    color: transparent;
    transform: rotate(180deg);
    position: relative;
}
#lineOurFuture{
    top: 3vh;
    left: 100vh;
    width: 35vh;
}
#lineOurResponsability{
    top: 80vh;
    left: 58.5vh;
    width: 72vh;
}
.container{
    display: grid;
    align-items: center;
    justify-items: center;
    position: absolute;
    height: 100vh;
    width: 100%;
}
.image{
    position: relative;
    height: 100vh;
    top: 200vh;
}
.container span.img-text{
    border-radius: 10px;
    background-color: #2d2d2d;
    text-transform: uppercase;
    color: #eaeaea;
    padding: 1rem;
    font-size: 1.5rem;
    letter-spacing: 10px;
}

.text-box{
    text-align: center;
    padding: 3rem 1rem;
    text-align: justify;
}
.surveyImage{
    position: relative;
    width: 100%;
    height: 100vh;
    top: 200vh;
}
.surveyContainer{
    background-color: #2d2d2d;
    height: 70vh;
    width: 90%;
    position: relative;
}
.surveyButton{
    display: flex;
    align-items: center;
    padding: 3rem 1rem;
    background-color: #2d2d2d;
    width: 80vh;
    height: 2vh;
    bottom: 30vh;
    position: absolute;
    border-radius: 20px;
}
.progress-bar {
    position: fixed;
    left: 0;
    top: 8vh;
    height: 5px;
    width: 100%;
    background-color: #5bc37e;
    z-index: 9999;
}
#boxShadowOne{
    background-color: #333333;
    width: 60vh;
    border-radius: 20px;
    position: absolute;
    right: 110vh;
    height: 45vh;
}
#textBoxOne{
    background-color: #949494;
    width: 60vh;
    border-radius: 20px;
    position: absolute;
    left: 2.5vh;
    bottom: 2.5vh;
}

#boxShadowTwo{
    background-color: #333333;
    width: 60vh;
    border-radius: 20px;
    position: absolute;
    left: 130vh;
    height: 45vh;
}
#textBoxTwo{
    background-color: #949494;
    width: 60vh;
    border-radius: 20px;
    position: absolute;
    right: 2.5vh;
    bottom: 2.5vh;
}

#boxShadowThree{
    background-color: #333333;
    width: 60vh;
    border-radius: 20px;
    position: absolute;
    left: 35vh;
    height: 45vh;
}
#textBoxThree{
    background-color: #949494;
    width: 60vh;
    border-radius: 20px;
    position: absolute;
    left: 2.5vh;
    bottom: 2.5vh;
}
#containerImageTwo{
    text-align-all: center;
    width: 80vh;
    height: 10vh;
    left: 20vh;
    top:14vh;
}
p{
    position: relative;
    font-size: 20px;
    color: white;
    font-family: 'Lexend', sans-serif;
    text-align: justify;
    hyphens: auto;
}
h1{
    font-size: 80px;
    font-family: 'Lexend', sans-serif;
    position: absolute;
    color: white;
}
h2{
    font-size: 40px;
    font-family: 'Lexend', sans-serif;
    position: absolute;
    color: white;
}
h3{
    font-family: 'Lexend', sans-serif;
    color: white;
    position: relative;
    font-size: 40px;
}
h1{
    font-family: 'Lexend', sans-serif;
    color: white;
    position: relative;
    font-size: 80px;
}
.agendaBar {
    z-index: 1001;
    height: 8vh;
    width: 100%;
    background-color: #2d2d2d;
    position: fixed;
    align-items: center;
    justify-items: center;
}
.agendaBarButtons{
    padding-right: 35px;
    top: 4px;
    position: relative;
    font-family: Lexend,sans-serif;
    background-color: transparent;
    border-right: solid;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-color: white;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin: 15px;
}
#lastAgendaButton{
    border-color: transparent;
    border-right: none;
}
.hidden{
    opacity:0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.QuizPageBackground{
    background-color: #2d2d2d;
    color: #333333;
    width: 100%;
    height: 210vh;
    z-index: 1000;
    top: 200vh;
    position: relative;
}
.QuestionBox{
    display: block;
    align-items: center;
/*    background-color: #0070f3;*/
    width: 100vh;
    height: 40vh;
    z-index: 2000;
    position: absolute;
    text-align: justify;
}
#QuestionBox1{
    top: 12vh;
    left:50vh;
}
#QuestionBox2{
    top: 88vh;
    left:50vh;
}
#QuestionBox3{
    top: 158vh;
    left:50vh;
}
.QuizButtons{
    /*box-shadow: 3px 3px 2px grey;*/
    margin: 20px;
    height: 5vh;
    width: 15vh;
    color: #2d2d2d;
    border: none;
    background-color: white;
    border-radius: 5px;
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
    font-weight: bold;;
}
.QuizTrueFalseBox{
    position: relative;
    bottom: 2vh;
    left: 25vh;
/*    background-color: #5bc37e;*/
    width: 40vh;
    height: 10vh;
}
.agendaLines{
    color: white;
    background-color: white;
    position: absolute;
    height: 15px;
    width: 5px;
    z-index: 2000;
    rotate: 90deg;

}