@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Lexend:wght@200;700&display=swap');
@media screen{
    body {
        overscroll-behavior: none;
    }
    body {
        margin: 0;
        padding: 0;
        font-family: Arial Black, sans-serif;
        text-align: center;
        background: #000;
        height: 150vh;
    }
}
.container{
    display: grid;
    align-items: center;
    justify-items: center;
    position: absolute;
    height: 100vh;
    width: 100%;
}
.image{
    position: relative;
    height: 100vh;
    top: 200vh;
}
.progress-bar {
    position: fixed;
    left: 0;
    top: 8vh;
    height: 5px;
    width: 100%;
    background-color: #5bc37e;
    z-index: 9999;
}
p{
    position: relative;
    font-size: 20px;
    color: white;
    font-family: 'Lexend', sans-serif;
    text-align: center;
    hyphens: auto;
}
h1{
    font-size: 80px;
    font-family: 'Lexend', sans-serif;
    position: absolute;
    color: white;
}
h2{
    font-size: 40px;
    font-family: 'Lexend', sans-serif;
    position: absolute;
    color: white;
}
h3{
    font-family: 'Lexend', sans-serif;
    color: white;
    position: relative;
    font-size: 40px;
    text-align: center;
}
h1{
    font-family: 'Lexend', sans-serif;
    color: white;
    position: relative;
    font-size: 80px;
}
.agendaBar {
    z-index: 1001;
    height: 8vh;
    width: 100%;
    background-color: #2d2d2d;
    position: fixed;
    top: 0vh;
    align-items: center;
    justify-items: center;
}
.agendaBarButtons{
    padding-right: 35px;
    top: 4px;
    position: relative;
    font-family: Lexend,sans-serif;
    background-color: transparent;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: none;
    /*border-color: white;*/
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin: 15px;
}
#lastAgendaButton{
    border-color: transparent;
    border-right: none;
}
.hidden{
    opacity:0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.QuizPageBackground{
    background-color: #2d2d2d;
    color: #333333;
    width: 100%;
    height: 210vh;
    z-index: 1000;
    top: 200vh;
    position: relative;
}
.QuestionBox{
    display: block;
    align-items: center;
    /*    background-color: #0070f3;*/
    width: 100vh;
    height: 40vh;
    z-index: 2000;
    position: absolute;
    text-align: justify;
}
#QuestionBox1{
    top: 12vh;
    left:50vh;
}
#QuestionBox2{
    top: 88vh;
    left:50vh;
}
#QuestionBox3{
    top: 158vh;
    left:50vh;
}
.QuizButtons{
    /*box-shadow: 3px 3px 2px grey;*/
    margin: 20px;
    height: 5vh;
    width: 15vh;
    color: #2d2d2d;
    border: none;
    background-color: white;
    border-radius: 5px;
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
    font-weight: bold;;
}
.QuizTrueFalseBox{
    position: relative;
    bottom: 2vh;
    left: 25vh;
    /*    background-color: #5bc37e;*/
    width: 40vh;
    height: 10vh;
}
.agendaLines{
    color: white;
    background-color: white;
    position: absolute;
    height: 15px;
    width: 5px;
    z-index: 2000;
    rotate: 90deg;

}
.ourVisionBox{
    top:35vh;
    display: block;
    align-items: center;
    background-color: #2d2d2d;
    width: 100vh;
    height: 42vh;
    z-index: 2000;
    position: absolute;
    text-align: justify;
    border-radius: 10px;
}
.surveyPageBox{
    display: grid;
    position: relative;
    width: 100%;
    height: 200vh;
    top: 200vh;
    background-color: #2d2d2d;
}
.SurveyResultBox{
    display: grid;
    align-items: center;
    position: absolute;
    bottom: 24vh;
    width: 100%;
    height: 10vh;
    grid-template-columns: repeat(4, 1fr);
}
.SurveyResultStripes{
    position: relative;
    height: 100%;
}
#SurveyResultStripesRed{
    background-color: #E86C68;
}
#SurveyResultStripesOrange{
    background-color: #EA9958;
}
#SurveyResultStripesYellow{
    background-color: #EBCE59;
}
#SurveyResultStripesGreen{
    background-color: #5BC37E;
}
.SurveyLine {
    position: absolute;
    top: 4.7vh;
    left: 13vh;
    width: 85%;
    height: 7px; /* Höhe der Linie anpassen, wie gewünscht */
    background-color: white; /* Farbe der Linie anpassen, wie gewünscht */
}
.SurveyCircle{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 15vh;
    border-radius: 100px;
    background-color: white;
}
.SurveyRoom{
    position: relative;
    right: 55vh;
    bottom: 20vh;
    scale: 0.8;
}
.hoverBlocker{
    position: absolute;
    right: 55vh;
    bottom: 15vh;
    background-color: #0070f3;
    z-index: 1000;
}
.surveyImage{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1000;
}
.surveyContainer{
    display: grid;
    background-color: #2d2d2d;
    height: 70vh;
    width: 90%;
    position: absolute;
    bottom: 5vh;
    border-radius: 45px;
    align-items: center;
}
.SurveyButtonBox {
    width: 80vh;
    height: 45vh;
    bottom: 7vh;
    left: 91vh;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3rem;
}
.surveyButton {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
    padding: 1rem; /* Adjusted padding for better appearance */
    background-color: #D9D9D9;
    width: 100%; /* Occupy full width of the column */
    height: 100%; /* Occupy full height of the row */
    box-sizing: border-box; /* Include padding in width and height calculations */
    border-radius: 10px; /* Adjusted border radius for better appearance */
}
.LoadingScreen{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 9998;
    background-color: #2d2d2d;
}
.LoadingScreenHidden{
    z-index: -1000;
    opacity: 0;
    width: 0%;
}